body {
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
#container {
  padding: 160px 0 0 0;
  font-size: 200px;
  text-align: center;
}

#container span {
  color: #0092ca;
}

#container p {
  margin-top: 5px;
  font-size: 40px;
}

#container p.email {
  font-size: 24px;
}
